body {
   font-family: Georgia;
   line-height: 20px;
   font-size: 100%;
 /*  padding-top: -5px;
   padding: 0px; */
}
#left_title {
/*	font-size: 1.0em; */
	height: 30px;
	vertical-align:50%;
/*	border: 1px solid green; */
}
#right_title {
/*		font-size: 1.0em; */
	width: 460px;
	height: 30px;
	float: right;
/*	border: 1px solid red;  */
}

/* styles for divs in display_image.php */
#image_page {
	width: 1010px;
	margin: 0 auto;
/*	background-color: rgb(255, 255, 210); */
}
#test_div {
	width: 200px;
	height: 100px;
	background-color: rgb(255, 230, 230);
	border: 2px solid black;
	float: right;
}
#right_div {
	float: right;
}

#basicpage {
	width: 1300px;
	height: 1100px;
	margin: 0 auto;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	background-color: rgb(210,230,255); 
	border: 2px solid black; 
}
#canvas_divA {
	float: left;
/*	border: 1px solid red; */
}
#return-div {
	float: right;
}
#canvas_divB {

}
#form_div {
	position: absolute;
	top: 740px;
	left: 40px;
}
#question_block {
	float: left;
	font-size: 1.02em;
	border: 2px solid navy;
	height: 255px;
	width: 850px;
	overflow: scroll;		
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;		
}
#answer_block {
	font-size: 1.02em;
	border: 2px solid navy;
	height: 216px;
	width: 1270px;
	overflow: scroll;		
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;		
}
#spacer {
	float: right;
	width: 240px;
	height: 400px;
}

