/* CSS for Zoo Gallery site */

body {

   font-family: Georgia;

   line-height: 18px;

   font-size: 95%;

/*   padding: 5px; */

   background-color: rgb(240,247,255); 

}

li {

	font-size: 1.2em;

	line-height: 1.5em;

	color: black;

	list-style-type: none;

}

h1 {

   font-family: Times New Roman;

   font-size: 4.0em;

   text-align: center;

/*   color: rgb(255,184,31); */

	color: blue;

}

h2 {

   font-family: Times New Roman;

   font-size: 1.5em;

   text-align: center;

  }

h3 {

   font-family: Times New Roman;

   font-size: 1.1em;

   text-align: left;

 } 


#main {   
    width:256px;
    height:256px;
}

#overlay {
    position:absolute;
    height:100px;
    width:100px;
    top:0;
    left:0; 
    display:none;
}

.overly {
    position:absolute;
    height:100px;
    width:100px;
    bottom:0;
    right:0; 
    display:none;    
}
